body,
html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #A29BFE;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.container {
    text-align: center;
}

.robot {
    width: 200px;
    margin-bottom: 20px;
}

.btn-continuar {
    background-color: #7e66f5;
    color: white;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 30px;
}

.btn-continuar:hover {
    background-color: #6a55d2;
}

.btn-continuar:focus {
    box-shadow: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}