.bg-custom {
    background-color: #A29BFE;
    /* Cor de fundo personalizada */
}

html,
body {
    height: 100%;
    /* Define a altura de toda a página como 100% da janela do navegador */
    margin: 0;
    overflow: hidden;
    /* Remove as barras de rolagem */
}

.logo {
    width: 40px;
    height: auto;
    /* Mantém a proporção da imagem */
}

.students {
    width: 1200px;
    height: 500px;
}